main{
    text-align: center;
    margin: 50px auto;
    width: 50%;
}

table{
    margin: 50px auto;
}
table,th,td{
    border-collapse: collapse;
    
    border: 2px solid black;
}
th,td{
    padding:5px;
}